doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Harp Browserify Babel Boilerplate
    link(href="css/common.css", rel='stylesheet')
    include ./_partials/_stylesheets.jade
  body
    != yield
    script(src="js/common.js")
    include ./_partials/_javascripts.jade
  
